extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Marie Ehrman
        br
        br
        p.lead.text-light
          | Full Stack JavaScript Student Success Specialist at Treehouse

        .portfolio-bio
          p
            | Hi! I am Marie Ehrman. I am a Student Success Specialist with an Associates of Science in CS from Portland Community College and Full Stack JavaScript Techdegree from Treehouse. I currently help hundreds of Students learn Web Development in the realms of Front End and Full Stack JavaScript, highlighting React.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h5 Skills

        ul
          h4
            li JavaScript
            li React
            li Express
            li Node/npm
            li HTML/Pug
            li CSS/Sass/Grid/Flex...
            li RegEx
            li jQuery
            li and hopefully lots more...

        h5 Contact Info

        ul
          li 
            p marie.e.ehrman@gmail.com

        a.button.expanded(href='https://linkedin.com/in/marie-ehrman' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Marie-Ehrman' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/marie_e_ehrman' target="_blank") Twitter
        a.button.expanded(href='https://www.instagram.com/mariedefined/' target="_blank") Instagram

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  