extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Marie Ehrman
        h6 (muh•REE)  (urr•MEHN)
        br
        br
        p.lead.text-light
          | Full Stack JavaScript Student at Treehouse

        .portfolio-bio
          p
            | Hi! I am Marie Ehrman. I am a Veteran of the US Air Force with an Associates of Science in CS from Portland Community College. I have mostly studied Computer Science, Mathematics, Psychology, and Philosophy. I was never quite sure what I wanted to do for a living, but I can say that I truly love figuring out how things work. If they are broken, I like fixing them. If they aren't efficient, I like "refactoring" them. I never knew what I was passionate about until I joined the Treehouse Techdegree Program. I love learning and the prospect of that process being life-long. I look forward to the opportunity to create amazing things with amazing people! I am a great team player. I can both follow instruction and work independently, well. I promise that anyone willing to give this newbie a chance, will not regret it!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h5 Skills

        ul
          h4
            li JavaScript
            li React
            li Express
            li Node
            li RegEx
            li Pug
            li Git
            li jQuery
            li HTML
            li CSS
            li and growing...

        h5 Contact Info

        ul
          li 
            p marie.e.ehrman@gmail.com

        a.button.expanded(href='https://linkedin.com/in/marie-ehrman' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Marie-Ehrman' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/marie_e_ehrman' target="_blank") Twitter
        a.button.expanded(href='https://www.instagram.com/marie.ehrman/' target="_blank") Instagram

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  