extends layout.pug

block content
    br
    a.button(href='/') ← "Just keep swimming" back to the Home Page
    br
    img(src="/static/img/DORY_404.jpg")
    br
    h1 uh oh, page not found
    h3= `${error.message}` 
    h5= `Status: ${error.status}`
    br
    br
    pre= error.stack