
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: rgb(98, 105, 101);
  border-radius: 5px;

}

.button:hover{
  background-color: rgba(119, 116, 116, 0.589);
}

a{
  color: #333;
}

a:hover{
  color: rgb(202, 193, 193);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background-image: linear-gradient(to right top, rgb(160, 212, 160), lightgrey, pink);
  color: #fff;
  box-shadow: 0 5px 0 0;

}

  .portfolio-me p{
    font-size: 14px;
    color: rgb(56, 54, 54);
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  color: #3d3d41;
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 8px #88888881;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

/*********** Personalized Styling ************/

body {
  background-color: rgba(204, 244, 247, 0.623);
}
.thumbnail:hover {
  transform: scale(1.1) rotate(-5deg);
}


a.thumbnail:hover {
  color: rgb(202, 193, 193);
}

.title-bar {
  background-color: #92929c;
  color: #3d3d41;
}

.portfolio-index .thumbnail:hover{
  transform: translateX(20px);
}
